body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("../images/developer6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #f1f5f9;
}

.page__content {
  background-color: rgba(0, 0, 0, 0.75);
}

section {
  margin: 0 auto 100px;
}

section:last-child {
  margin-bottom: 0;
}
